#welcome {
    background-image: url("./images/backgrounds/h_img.jpg");
    height: 100vh;
    color: white;
}

#mouse-click {
    position: absolute;
    bottom: 50px;
}

#about-us {
    margin-top: 3%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 3%;

}

#services {
    background-image: url("./images/backgrounds/s_image.jpg");
    height: 50vh;
    color: white;
}

#what-we-do{
    margin-top: 5%;
    margin-bottom: 5%;
}

#what-we-do h2{
    margin-bottom: 2%;
}