#welcome {
    background-image: url("./images/backgrounds/h_img.jpg");
    height: 100vh;
    color: white;
}

#mouse-click {
    position: absolute;
    bottom: 50px;
}

#about {
    margin-top: 3%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 3%;

}